/*PASSWORD VALIDATOR*/

.pwd-validator {
    position: relative;
}

.pwd-val__window {
    position: absolute;
    left: 2.5%;
    top: 130%;
    background-color: var(--bg);
    box-shadow: 0 0 4px -1px #00000040;
    width: 95%;
    z-index: 3;
    border: 1px solid var(--color-borders);
    border-radius: 0.2rem;
    padding: 0.1rem 0.5rem;
    font-size: 0.8rem;
}

.pwd-validator input:not(:focus) ~ .pwd-val__window {
    display: none !important;
}

.pwd-val__line {
    padding: 0.5rem;
    opacity: 0.5;
}

.pwd-val__line:not(:last-child) {
    border-bottom: 1px dotted var(--color-borders);
}

.pwd-val__line.valid {
    color: var(--color-headings);
    opacity: 1;
}