/*VARIABLES*/

html {
    --bg: #fcfcfc;
    --bg-container: #ebebeb;
    --bg-container-hover: #efefef;
    --bg-container-active: #ebebeb;

    --color-headings: #0077ff;
    --color-headings-transparent: #0077ff80;
    --color-text: #333333;
    --color-text-hover: #131313;

    --color-borders: #dadada;
    --color-borders-hover: #cacaca;
}

html[data-theme="dark"] {
    --bg: #333333;
    --bg-container: #434343;
    --bg-container-hover: #383838;
    --bg-container-active: #434343;

    /*--color-headings: #3694ff;*/
    --color-headings: #ff7540;
    --color-headings-transparent: #ff754080;
    --color-text: #b5b5b5;
    --color-text-hover: #d5d5d5;

    --color-borders: #505050;
    --color-borders-hover: #606060;
}

/*TRANSITIONS*/

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
    transition: all 0.5s !important;
    transition-delay: 0s !important;
}

html[data-theme="dark"] body {
    background-color: var(--bg);
}