/*VARIABLES*/

html {
    --bg: #fcfcfc;
    --bg-container: #ebebeb;
    --bg-container-hover: #efefef;
    --bg-container-active: #fafafa;
    --bg-contrast: #222222;

    --color-headings: #0077ff;
    --color-headings-transparent: #0077ff80;
    --color-text: #333333;
    --color-text-hover: #131313;
    --color-text-contrast: #b5b5b5;
    --color-text-contrast-hover: #d5d5d5;

    --color-borders: #dadada;
    --color-borders-hover: #cacaca;
    --color-borders-contrast: #606060;
}

html[data-theme="dark"] {
    --bg: #222222;
    --bg-container: #272727;
    --bg-container-hover: #202020;
    --bg-container-active: #181818;
    --bg-contrast: #fcfcfc;

    --color-headings: #ff7540;
    --color-headings-transparent: #ff754080;
    --color-text: #b5b5b5;
    --color-text-hover: #d5d5d5;
    --color-text-contrast: #333333;
    --color-text-contrast-hover: #131313;

    --color-borders: #404040;
    --color-borders-hover: #505050;
    --color-borders-contrast: #dadada;
}

/*TRANSITIONS*/

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
    transition: all 0.5s !important;
    transition-delay: 0s !important;
}