@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap');

/*VARIABLES*/

html {
    font-family: 'Ubuntu', sans-serif;
}

/*GLOBAL RULES*/

* {
    box-sizing: border-box;
    font-family: inherit;
    color: var(--color-text);
}

a {
    text-decoration: none;
}

/*BODY CSS*/

html {
    --header-height: 4rem;
}

@media screen and (max-width: 800px) {
    html {
        --header-height: 5.5rem;
    }
}

#wrapper {
    position: relative;
    padding: var(--header-height) 0 10rem 0;
    min-height: 100vh;
}

#container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
}

.centered {
    display: grid;
    justify-items: center;
}

.centered > div {
    width: 100vw;
    max-width: 70rem;
}

i.fas {
    color: inherit;
}