/*MOVIE PAGE COMMENTS*/

.comments__panel {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid var(--color-borders);
    border-radius: 0.2rem;
    background-color: var(--bg);
}

.comments__label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.comments__input {
    margin-bottom: 0.5rem;
    width: 100% !important;
    min-height: 2rem;
    border-radius: 0.3rem;
    background-color: var(--bg-container);
    border: 1px solid var(--color-borders);
    padding: 0.5rem;
    outline: none;
    font-size: 0.8rem;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.comments__input:hover {
    border: 1px solid var(--color-borders-hover);
    background-color: var(--bg-container-hover);
}

.comments__input:focus {
    border: 1px solid var(--color-headings);
    box-shadow: 0 0 0 2px var(--color-headings-transparent);
    background-color: var(--bg-container-active);
}

.comments__button {
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    margin-bottom: 1rem;
    padding: 0.5rem 1.2rem !important;
    font-size: 0.9rem;
}

.comments__hr {
    margin-bottom: 1rem;
}

.comments__none {
    text-align: center;
    font-size: 0.8rem;
    opacity: 0.8;
}

.comments__none:not(:first-child) {
    display: none;
}

/*SINGLE COMMENT*/

.comment {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.comment__content {
    margin: 0 1rem;
    background-color: var(--bg-container);
    border: 1px dotted var(--color-borders);
    width: fit-content;
    border-radius: 0.5rem;
    padding: 0.7rem;
    font-size: 0.9rem;
    line-height: 1.15rem;
    height: fit-content;
    word-break: break-word;
}

.comment__date {
    font-size: 0.6rem;
    white-space: nowrap;
    margin-top: 0.5rem;
    line-height: 0.6rem;
}