/*MOVIES PAGE*/

#movies {
    width: 100%;
    min-height: calc(100vh - var(--header-height ) - var(--footer-height));
    background-color: var(--bg-container);
}

.movies {
    transition: filter 0.2s;
}

/*SEARCH BAR*/

.search-bar {
    display: block;
    width: 30rem;
    max-width: 90vw;
    height: 3rem;
    margin: 3rem auto 2rem auto;
    border: 1px solid var(--color-borders);
    box-shadow: 0 0 0 0 var(--color-headings-transparent), 0 8px 32px -8px #00000080;
    border-radius: 0.2rem;
    transition: box-shadow 0.2s;
    outline: none;
    padding: 1rem;
    text-align: center;
    background-color: var(--bg);
    font-size: 1.4rem;
}

.search-bar:hover {
    box-shadow: 0 0 0 0 var(--color-headings-transparent), 0 12px 48px -8px #00000080;
}

.search-bar:focus {
    border: 1px solid var(--color-headings);
    box-shadow: 0 0 0 3px var(--color-headings-transparent), 0 12px 48px -8px #00000080;
    background-color: var(--bg-container-active);
}

.search-bar::placeholder {
    opacity: .5;
}

/*SIDEBAR*/

.sidebar {
    position: fixed;
    top: calc(var(--header-height) + 2rem);
    left: 0;
    width: 20rem;
    max-width: 90vw;
    height: calc(100vh - var(--header-height) - 4rem);
    z-index: 2;
    transform: translateX(-100%);
    transition: transform 0.4s;
    display: grid;
    align-items: center;
    justify-items: center;
}

.sidebar:hover {
    transform: translateX(0);
}

.sidebar:hover ~ .movies {
    filter: blur(4px);
}

.sidebar__container {
    background-color: var(--bg);
    position: relative;
    width: 90%;
    height: 95%;
    overflow: hidden;
    border-radius: 1.5rem;
    box-shadow: 0 0 16px -8px #00000080;
}

.sidebar__icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
    width: 4rem;
    height: 4rem;
    background: url("../../assets/img/sidebar-arrow-right.svg") center no-repeat;
    background-size: 2rem;
    transition: opacity 0.2s;
    opacity: 0.3;
    /*filter: brightness(150%);*/
}

html[data-theme="dark"] .sidebar__icon {
    opacity: 0.6;
}

.sidebar:hover .sidebar__icon {
    opacity: 0;
}

.sidebar__scrollable {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 1rem;
}

/*SIDEBAR CONTENT*/

.sidebar__title {
    position: relative;
    padding: 0.4rem 0.6rem;
    margin: 0 auto 1rem auto;
    width: fit-content;
    font-weight: 300;
    color: var(--color-headings) !important;
}

.sidebar__title::after {
    content: "";
    position: absolute;
    bottom: 0.1rem;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: var(--color-headings);
    transition: opacity 0.2s, width 0.2s;
    width: 60%;
    opacity: 0.7;
}

/*MOVIE CARDS*/

.movie__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding-bottom: 1rem;
}